{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  .added-data {
    color: green;
  }
</style>


<link rel="stylesheet" type="text/css" href="{% static 'css/xml_file_list.css' %}">
<a type="button" class="btn btn-primary btn_edit" id="btn_compare" >compare</a>

<table class="table table-bordered" align="center">
      <h3 class="mb-4 pb-2 pb-md-0 mb-md-4 px-md-2 mt-3" align="center">Xml File List</h3>
     <thead>
      <tr class="table-dark">
          <th scope="col">No.</th>
          <th scope="col"> </th>
          <th scope="col">File name</th>
      </tr>
    </thead>
     <tbody>
     {% for obj in page_obj %}
     {% with actual_number=page_obj.start_index|add:forloop.counter0 %}
        <tr>
             <td scope="row">{{ actual_number }}</td>
             <td scope="row" ><input type="checkbox" fileName="{{ obj }}" id="coding" class="check_select" name="xmlFile"/></td>
             <td scope="row">{{ obj }}</td>
        </tr>
     {% endwith %}
      {% endfor %}
     </tbody>
</table>



<div class="pagination-container">

    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">« 1</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}

  {% if page_obj.has_next %}
  <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
  <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
  {% endif %}
  </ul>
  </div>


<!-- Click on compare button and show this modal -->
  <div class="modal fade" tabindex="-1" id="comparexml" role="dialog"  aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel" align="center">hello</h5>
        </div>
         <h1>File Comparison</h1>

                <div style="display: flex;">
                    <div style="flex: 1;">
                        <h2>File 1</h2>
                        <div id="file1_data">{{file1_content}}</div>
                    </div>
                    <div style="flex: 1;">
                        <h2>File 2</h2>
                        <div id="file2_data"></div>
                    </div>
                </div>
      </div>
    </div>
  </div>



<script>
  var csrf_token = "{{csrf_token}}"
</script>

<script src="{% static 'js/xml_file_list.js' %}"></script>

{% endblock %}